:host {
    .star {
        color: red;
        font-size: 16px;
        font-weight: bold;
        margin-left: -2px;
    }

    .invalid {
        color: red;
        font-size: 14px;
        padding-left: 5px;
    }
}